.contactslistItem {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.contactList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
}
.contactslistBtn {
  border-radius: 3px;
  background-color: aliceblue;
}

.contactslistBtn:hover,
.contactslistBtn:focus {
  background-color: rgb(252, 202, 205);
}
